@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 #e2e8f0;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

.dark *::-webkit-scrollbar-track {
  background: #1e293b;
}

*::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 20px;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold tracking-tight;
  }

  h1 {
    @apply text-4xl leading-tight md:text-5xl;
  }

  h2 {
    @apply text-3xl leading-tight md:text-4xl;
  }

  h3 {
    @apply text-2xl leading-snug md:text-3xl;
  }

  h4 {
    @apply text-xl leading-snug md:text-2xl;
  }
}